version: "3.5"

services:
  netextender:
    image: docker-netextender:latest
    build:
      context:    .
      dockerfile: "Dockerfile"
    restart: "no"
    networks:
      default:
    ports:
      - "${SOURCE_PORT:-8080}:${TARGET_PORT:-3389}/tcp"
    environment:
      VPN_SERVER:     "${VPN_SERVER}"
      VPN_DOMAIN:     "${VPN_DOMAIN}"
      VPN_USERNAME:   "${VPN_USERNAME}"
      SOURCE_PORT:    "${SOURCE_PORT:-8080}"
      TARGET_ADDRESS: "${TARGET_ADDRESS?TARGET_ADDRESS}"
      TARGET_PORT:    "${TARGET_PORT:-3389}"
    # TODO(oparkes): Figure out the specific caps pppd needs to "enable" PPP kernel support
    privileged: true
    # cap_add:
    #   - NET_ADMIN
