version: "3.5"

services:
  vpn:
    image: netextender:latest
    build:
      context: .
      dockerfile: "Dockerfile"
    restart: "no"
    container_name: "netextender-vpn"
    networks:
      default:
    ports:
      - "${PORT:-8080}:3389/tcp"
    environment:
      VPN_SERVER:   "${VPN_SERVER}"
      VPN_DOMAIN:   "${VPN_DOMAIN}"
      VPN_PC:       "${VPN_PC}"
      VPN_USERNAME: "${VPN_USERNAME}"
      PORT:         "${PORT:-8080}"
    # TODO(oparkes): Figure out the specific caps pppd needs to "enable" PPP kernel support
    privileged: true
    # cap_add:
    #   - NET_ADMIN
